.error-fallback-display-wrapper,
.error-fallback-action-wrapper {
  display: flex;
}

.error-fallback-label {
  margin: 1em 0.5em 0px 0px;
}

.error-fallback-copy {
  margin-left: 0.5em;
}

.error-fallback-reset {
}

.error-fallback-send {
}