.gameshow-summary-info {
  background: linear-gradient(137deg, #39015088 0%, #9808ac77 22%, #9504a877 43%, #7a05a155 100%);
  color: #fff;
  padding: 0.7em;
  .gameshow-summary-info-title {
    margin: 0.7em 0.2em;
  }
  .total-acheived,
  .total-gold-coins {
    font-size: 0.95em;
    color: #eee;
    padding: 0.3em;
    margin: 0.3em 0;
    .challenge-reward {
      margin: 0.15em;
      margin-bottom: 0;
    }
  }
  .gameshow-summary-groups {
    display: flex;
    flex-direction: column;
    padding: 0.3em;
    margin-top: 1em;
    .gameshow-group {
      display: flex;
      align-items: center;
      margin-bottom: 0.8em;
      background-color: #7b378b77;
      align-items: stretch;
      border: 1px solid #b8b8b8;
      .gameshow-group-heading {
        display: flex;
        flex-direction: column;
        padding: 0.6em;
        min-width: 11em;
        color: #c0c0be;
        .gameshow-group-title {
          display: flex;
          align-items: center;
          padding: 0.2em;
          margin: 0;
          flex-grow: 1;
          font-size: 1.7em;
          color: #fffcf5;
        }
        .total-acheived,
        .total-gold-coins {
          font-size: 0.95em;
          color: #eee;
          padding: 0.3em;
          margin: 0.2em 0;
          .challenge-reward {
            margin: 0.15em;
            margin-bottom: 0;
          }
        }
      }
      .gameshow-round-summaries {
        display: flex;
        flex-wrap: wrap;
        .gameshow-round-summary {
          position: relative;
          opacity: 0.95;
          padding: 0.8em;
          font-size: 0.9em;
          margin: 0.4em;
          user-select: none;
          color: #eee;
          min-width: 15em;
          flex-grow: 0;
          background-color: #cccccc;
          &[data-correct="false"] {
            border: 3px solid #5a0000;
            background-color: #ffb0b0;
            .gameshow-round-summary-title {
              color: #7c0404;
            }
            .gameshow-round-summary-description {
              color: #4d1b1b;
            }
          }
          &[data-correct="true"] {
            border: 3px solid #003b08;
            background-color: #d3ffc5;
            .gameshow-round-summary-title {
              color: #002004;
            }
            .gameshow-round-summary-description {
              color: #204118;
            }
          }
          &[data-status="superseded"] {
            opacity: 0.5;
          }
          .gameshow-round-summary-icon {
            margin: 0.6em;
            position: absolute;
            right: 0;
            top: 0;
            opacity: 0.6;
          }
          .gameshow-round-summary-title {
            margin: 0.2em 0;
            color: #cccccc;
          }
          .gameshow-round-summary-reward {
            margin-top: 0.5em;
            padding-right: 0.6em;
          }
          .gameshow-round-summary-description {
            margin: 0;
            margin-top: 0.2em;
            font-size: 0.95em;
            p {
              margin: 0.2em;
              &:first-child {
                margin-top: 0.5em;
              }
              &:last-child {
                margin-bottom: 0.8em;
              }
            }
          }
        }
        .break {
          flex-grow: 1;
          min-width: 100%;
        }
      }
    }
  }
}