.letter_tile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.6em;
  height: 1.6em;
  border: 2px solid #6664;
  border-radius: 3px;
  margin: 2px;
  vertical-align: middle;
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  color: #444;
  text-transform: uppercase;
  user-select: none;
  text-shadow: 0 3px 1px #999a;
  background-color: #e0e4e7;
  box-shadow: 0px 3px 2px 0px #646464dd;
  /*
  transition: transform 0.8s;
  transform-style: preserve-3d;
  */

  // Pop LetterTile when a letter is added
  &[data-new-letter-added="true"][data-apply-animation="true"][data-animation-setting="true"] {
    animation: popLetterInput 0.2s;
  }

  // Flip LetterTile (after submitting a WordRow)
  &[data-has-been-submitted="true"][data-apply-animation="true"][data-animation-setting="true"] {
    animation: flipRevealLetter 1.5s;
  }

  &[data-disabled="false"] {
    cursor: pointer;
    &:hover {
      background-color: #fff;
    }
  }
}

$data-statuses: (
  "correct": #4ca150,
  "contains": #dc8d37,
  "incorrect": #cc2132,
  "not in word": #cbcbcb,
);

@each $status, $colour in $data-statuses {
  .letter_tile[data-status="#{$status}"] {
    color: white;
    @if ($status == "not in word") {
      background-color: $colour;
    } @else {
      // Add !important to overwrite any custom colors from the Letters Game and Numbers Game
      background-color: $colour !important;
    }
    box-shadow: 0px 3px 2px 0px darken($colour, 20%);
    text-shadow: 0 4px 1px darken($colour, 12%);
    &[data-disabled="false"]:hover {
      background-color: lighten($colour, 10%);
    }
  }
}

// The reveal tiles and guess tiles (Number Arithmetic)
.numbers_arithmetic {
  .target {
    .letter_tile {
      margin-top: 0.5em;
      margin-bottom: 0.3em;
      width: 2em;
      &[data-new-letter-added="true"][data-apply-animation="true"][data-animation-setting="true"] {
        animation: flipRevealLetter 1.5s;
      }
    }
  }
  .guess {
    .letter_tile {
      width: 3.5em;
    }
  }
}

// The letter tiles of Letters Game (read only selection row and input row)
.letters-game-wrapper .letter_row,
.letters-game-wrapper .word_row {
  .letter_tile {
    border: none;
    border-radius: 0px;
    background-color: #2c2cb8;
    color: white;
    text-shadow: none;
    &[data-disabled="true"] {
      cursor: not-allowed;
      opacity: 0.6;
    }
    &[data-disabled="false"] {
      cursor: pointer;
      &:hover {
        background-color: darken(#2c2cb8, 10%);
      }
    }
  }
}

.letters-game-wrapper > .word_row > .letter_tile[data-disabled="true"] {
  // As an exception, show the letters on the guess word row for letters game as slightly brighter, as this is the main row to look at when guessing
  opacity: 1;
}

// For when checking a guess in Wingo (each letter tile flips to reveal status)
@keyframes flipRevealLetter {
  0% {
    transform: perspective(400px) rotateX(90deg);
  }
  40% {
    transform: perspective(400px) rotateX(-20deg);
  }
  70% {
    transform: perspective(400px) rotateX(20deg);
  }
  100% {
    transform: perspective(400px) rotateX(0deg);
  }
}

// For when a letter is entered during Wingo
@keyframes popLetterInput {
  0% {
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
