.message-notification {
  display: inline-block;
  background-color: #ddd;
  padding: 0.5em 1em;
  min-width: 16em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  border: 2px solid #444;
  text-align: center;
}

.message-notification[data-type="success"] {
  background-color: #d3ffc5;
  border-color: #003b08;
  color: #002004;
}

.message-notification[data-type="info"] {
  background-color: #aff3ff;
  border-color: #004a4d;
  color: #003336;
}

.message-notification[data-type="warning"] {
  background-color: #ffe6b0;
  border-color: #945400;
  color: #442700;
}

.message-notification[data-type="error"] {
  background-color: #ffb0b0;
  border-color: #5a0000;
  color: #520000;
}