.dice_row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice_square {
  width: 2em;
  height: 2em;
  border: 1px solid #aaa;
  margin: 0.1em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3em;
  color: #6a6a6a;
  background-color: #fff8;
  user-select: none;
  &[data-animation-setting="true"][data-apply-animation="true"] {
    animation: flipRevealLetter 1.5s;
  }
}

.dice_wrapper {
  background-color: #fff8;
  padding: 0.4em;
  min-width: 55em;
  z-index: 99999;
}

$orange: #aa5208bb;
$orange-border: #aa5208;
$light-blue: #00a59bbb;
$light-blue-border: #00a59b;
$yellow: #a5a803bb;
$yellow-border: #a5a803;
$dark-blue: #006dacbb;
$dark-blue-border: #006dac;
$pink: #e757b7bb;
$pink-border: #e757b7;
$green: #05ab00bb;
$green-border: #05ab00;
$blue-gray: #6699cc;
$blue-gray-border: #5f95cc;
$purple: #b801b5bb;
$purple-border: #b801b5;
$dark-orange: #e27e0bbb;
$dark-orange-border: #e27e0b;
$red: #b10503bb;
$red-border: #b10503;

$numble-colors-names: (
  orange: $orange,
  light-blue: $light-blue,
  yellow: $yellow,
  dark-blue: $dark-blue,
  pink: $pink,
  green: $green,
  blue-gray: $blue-gray,
  purple: $purple,
  dark-orange: $dark-orange,
  red: $red,
);

.numble-score-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #fff8;
  padding: 0.4em;
  min-width: 55em;
  .teams-info-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    .team-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0.5em;
      opacity: 0.8;
      &[data-selected="true"] {
        font-weight: bold;
        opacity: 1;
      }
      &[data-team-number="0"] {
        color: $blue-gray-border;
      }
      &[data-team-number="1"] {
        color: $red-border;
      }
      &[data-team-number="2"] {
        color: $green-border;
      }
      &[data-team-number="3"] {
        color: $yellow-border;
      }
      .numble-score,
      .numble-timer {
        align-self: center;
        margin-top: 0.3em;
        margin-bottom: 0.3em;
        padding: 0.5em 2em;
        min-width: 2.5em;
        border: 2px solid #888;
        color: #444;
        background-color: #fff8;
      }
    }
  }
  .numble-pin-scores {
    .numble-button-display {
      color: white;
      font-size: 1.2em;
      //font-weight: bold;
      text-align: center;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      width: 3em;
      height: 3em;
      padding: 0.2em;
      margin: 0.1em;
    }
  }
}

.numble-button {
  cursor: pointer;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  //font-weight: bold;
  &[data-shape="square"] {
    padding: 0.3em;
    min-width: 3em;
    min-height: 3em;
    margin: 0.1em;
    &[data-team-number] {
      position: relative;
      &::after {
        content: " ";
        position: absolute;
        top: 0.3em;
        left: 0.3em;
        right: 0.3em;
        bottom: 0.3em;
        background-color: #bbb;
        border-radius: 2em;
      }
      &[data-team-number="0"] {
        &::after {
          background: radial-gradient(
            circle at 32% 32%,
            lighten($blue-gray-border, 5%),
            darken($blue-gray-border, 25%)
          );
        }
      }
      &[data-team-number="1"] {
        &::after {
          background: radial-gradient(circle at 32% 32%, lighten($red-border, 5%), darken($red-border, 25%));
        }
      }
      &[data-team-number="2"] {
        &::after {
          background: radial-gradient(circle at 32% 32%, lighten($green-border, 5%), darken($green-border, 25%));
        }
      }
      &[data-team-number="3"] {
        &::after {
          background: radial-gradient(circle at 32% 32%, lighten($yellow-border, 5%), darken($yellow-border, 25%));
        }
      }
    }
  }
  &[data-shape="hexagon"] {
    margin: 0.15em 0.02em;
    .top {
      display: block;
      width: 0;
      border-bottom: 15px solid #6c6;
      border-left: 26px solid transparent;
      border-right: 26px solid transparent;
    }
    .middle {
      display: block;
      width: 52px;
      height: 30px;
      background-color: #6c6;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
    }
    .bottom {
      display: block;
      width: 0;
      border-top: 15px solid #6c6;
      border-left: 26px solid transparent;
      border-right: 26px solid transparent;
    }
    &[data-team-number] {
      .middle {
        position: relative;
        &::after {
          content: " ";
          position: absolute;
          top: -0.3em;
          left: 0.3em;
          right: 0.3em;
          bottom: -0.3em;
          background-color: #bbb;
          border-radius: 2em;
        }
      }
      &[data-team-number="0"] {
        .middle::after {
          background: radial-gradient(
            circle at 32% 32%,
            lighten($blue-gray-border, 5%),
            darken($blue-gray-border, 25%)
          );
        }
      }
      &[data-team-number="1"] {
        .middle::after {
          background: radial-gradient(circle at 32% 32%, lighten($red-border, 5%), darken($red-border, 25%));
        }
      }
      &[data-team-number="2"] {
        .middle::after {
          background: radial-gradient(circle at 32% 32%, lighten($green-border, 5%), darken($green-border, 25%));
        }
      }
      &[data-team-number="3"] {
        .middle::after {
          background: radial-gradient(circle at 32% 32%, lighten($yellow-border, 5%), darken($yellow-border, 20%));
        }
      }
    }
  }
}

.numble-button-display {
  cursor: default;
}

.numble-button[data-shape="square"][data-prime="true"],
.numble-button-display[data-prime="true"] {
  border: 4px solid #3d3d3d !important;
}

// Sets background, border and on hover colours for numble pins
@each $colourName, $color in $numble-colors-names {
  .numble-button[data-shape="square"][data-colour="#{$colourName}"] {
    background-color: $color;
    // Border has darker tone of colour
    border: 4px solid darken($color, 10%);
    &:disabled {
      cursor: not-allowed;
    }
    &:not(:disabled):hover {
      // On hover, make background color same as border
      background-color: darken($color, 10%);
    }
    &[data-picked="true"] {
      cursor: not-allowed;
      color: #ddd;
    }
  }
  .numble-button[data-shape="hexagon"][data-colour="#{$colourName}"] {
    background: none;
    border: none;
    padding: 0.1em;
    .middle {
      background-color: $color;
    }
    .top {
      border-bottom-color: $color;
    }
    .bottom {
      border-top-color: $color;
    }
    &:disabled {
      cursor: not-allowed;
    }
    // Border has darker tone of colour
    //border: 4px solid darken($color, 10%);
    &:not(:disabled):hover {
      .middle {
        // On hover, make background color same as border
        background-color: darken($color, 10%);
      }
      .top {
        border-bottom-color: darken($color, 10%);
      }
      .bottom {
        border-top-color: darken($color, 10%);
      }
    }
    &[data-picked="true"] {
      cursor: not-allowed;
      color: #aaa;
    }
  }
  .numble-button-display[data-colour="#{$colourName}"] {
    background-color: $color;
    // Border has darker tone of colour
    border: 4px solid darken($color, 10%);
  }
}

.numble-grid {
  padding: 0em 10em;
  &[data-shape="hexagon"] {
    margin-top: -4em;
    margin-bottom: -4em;
  }
  &[data-shape="square"] {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}