@use "sass:list";

.only_connect_wall {
  padding: 2em 0;
}

.only-connect-row {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Ubuntu", sans-serif;

  // Only Connect Wall button
  .only-connect-button {
    cursor: pointer;
    width: 12em;
    min-height: 7em;
    padding: 1em;
    border: none;
    border-radius: 6px;
    background-color: #a5cff0;
    color: #222;
    outline: none;
    margin: 0.2em;
    font-family: inherit;
    font-size: 1.25em;
    transition: all ease 0.2s;
    box-shadow: -3px 3px #2228;

    $group-colors: (#004372, #006d5d, #5d2846, #00657f, #a79e24, #8e4da8);

    &[data-selected="true"] {
      color: white;

      // Style selection (with colour of next group)
      @for $i from 1 through length($group-colors) {
        &[data-num-completed-groups="#{$i - 1}"] {
          color: white;
          background-color: list.nth($group-colors, $i);
        }
      }
    }

    // Style each group (once completed)
    @for $i from 1 through length($group-colors) {
      &[data-row-number="#{$i}"] {
        background-color: list.nth($group-colors, $i);
        color: white;
        cursor: not-allowed;
      }
    }
  }
}
