.only_connect_wall {
  padding: 2em 0;
}

.only-connect-row {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Ubuntu", sans-serif;
  // Only Connect Wall button
  .only-connect-button {
    cursor: pointer;
    width: 12em;
    min-height: 7em;
    padding: 1em;
    border: none;
    border-radius: 6px;
    background-color: #a5cff0;
    color: #222;
    outline: none;
    margin: 0.2em;
    font-family: inherit;
    font-size: 1.25em;
    transition: all ease 0.2s;
    box-shadow: -3px 3px #2228;

    // TODO: Colours for more groups
    $only-connect-group-1-color: #004372;
    $only-connect-group-2-color: #006d5d;
    $only-connect-group-3-color: #5d2846;
    $only-connect-group-4-color: #00657f;

    &[data-selected="true"] {
      color: white;

      // Use the border color of the next group being selected
      &[data-num-completed-groups="0"] {
        background-color: $only-connect-group-1-color;
        color: white;
      }
      &[data-num-completed-groups="1"] {
        background-color: $only-connect-group-2-color;
        color: white;
      }
      &[data-num-completed-groups="2"] {
        background-color: $only-connect-group-3-color;
        color: white;
      }
      &[data-num-completed-groups="3"] {
        background-color: $only-connect-group-4-color;
        color: white;
      }
    }

    // Style each group
    &[data-row-number="1"] {
      background-color: $only-connect-group-1-color;
      color: white;
      cursor: not-allowed;
    }
    &[data-row-number="2"] {
      background-color: $only-connect-group-2-color;
      color: white;
      cursor: not-allowed;
    }
    &[data-row-number="3"] {
      background-color: $only-connect-group-3-color;
      color: white;
      cursor: not-allowed;
    }
    &[data-row-number="4"] {
      background-color: $only-connect-group-4-color;
      color: white;
      cursor: not-allowed;
    }
  }
}
