.wingo_interlinked {
  background-repeat: no-repeat;
  background-size: 100%;
  //background-size: cover;
  .word_grid {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #111;
    border-color: #000;
    background-image: none;
    padding: 1em;
    margin: 1em;
    .word-grid-row {
      display: flex;
      .letter-tile-wrapper {
        background-color: #111;
        &[data-is-focussed="true"] {
          .letter_tile[data-status="not set"] {
            background-color: #fff;
          }
        }
        &[data-is-focussed="false"] {
          .letter_tile {
            opacity: 0.85;
          }
        }
        .letter_tile {
          font-size: 1.7em !important;
          border-radius: 0;
        }
      }
    }

    &[data-is-loading="true"] {
      position: relative;
      background-color: transparent;
      border-color: transparent;
      .loading-message {
        display: flex;
        position: absolute;
        content: "Loading...";
        color: #eee;
        background-color: #222c;
        padding: 0.7em;
        font-style: italic;
        align-items: center;
        justify-content: center;
        .spinner {
          font-size: 1.2em;
          margin-right: 0.3em;
          animation: spin 1s infinite linear;
        }
      }
      .word-grid-row {
        .letter-tile-wrapper {
          visibility: hidden;
        }
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
