.presets {
  table-layout: fixed;
  width: 100%;
  .preset {
    border: 1px solid black;
    & > * {
      padding: 0 0.5em;
    }
    .preset-name {
      text-align: left;
      width: 35%;
    }
    .preset-date {
      width: 10%;
    }
    .preset-info {
      width: 10%;
    }
    .preset-load {
      width: 10%;
    }
  }
}
