@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
  display: flex;
}

.btn {
  font-family: Arial;
  padding: 0.5em;
  border: none;
  border-bottom: 3px solid;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}

.btn.default {
  font-weight: bold;
  border: 0;
  padding: 15px 15px 15px 15px;
  margin: 5px 5px 0 0;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  text-transform: uppercase;
  background-color: #e6e6e6;
  color: #4d4d4d;
}

.btn.default[data-status="correct"] {
  background-color: rgb(76, 161, 80);
}

.btn.default[data-status="contains"] {
  background-color: rgb(220, 141, 55);
}

.btn.default[data-status="not in word"] {
  background-color: #787c7e;
}

.btn.default:hover {
  background-color: #c7c3c3;
}

.btn.accept {
  font-weight: bold;
  border: 0;
  padding: 20px 100px 20px 100px;
  margin: 10px 5px 0 0;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  text-transform: uppercase;
  background-color: #daf8da;
  color: #4d4d4d;
}

.btn.accept:hover {
  background-color: #b9f7b9;
}

.btn.destructive {
  font-weight: bold;
  border: 0;
  padding: 15px 15px 15px 15px;
  margin: 5px 5px 0 0;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  text-transform: uppercase;
  background-color: #f5bfbf;
  color: #4d4d4d;
}

.btn.destructive:hover {
  background-color: #f39494;
}

.title {
  font-weight: bold;
  font-size: 60px;
  text-transform: uppercase;
  margin: 20px 0 20px 0;
}

.word_grid {
  margin: 20px 0 20px 0;
  background-color: #323289;
  padding: 20px 20px;
  background-image: linear-gradient(318deg, #0d092e, transparent);
}

.letter_tile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.6em;
  height: 1.6em;
  border: 2px solid #666;
  border-radius: 8px;
  margin: 2px;
  vertical-align: middle;
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  user-select: none;
  text-shadow: 0 2px 2px #333;
  background-color: rgb(13, 50, 134);
  /*
  transition: transform 0.8s;
  transform-style: preserve-3d;
  */
}

.letter_tile[data-status="correct"] {
  background-color: rgb(76, 161, 80);
  /* transform: rotateX(180deg); */
}

.letter_tile[data-status="contains"] {
  background-color: rgb(220, 141, 55);
  /* transform: rotateX(180deg); */
}

.letter_tile[data-status="incorrect"] {
  background-color: rgb(204, 33, 50);
  /* transform: rotateX(180deg); */
}

.letter_tile[data-status="not in word"] {
  background-color: #787c7e;
  /* transform: rotateX(180deg); */
}

.logo .letter_tile[data-status="incorrect"] {
  background-color: rgb(204, 33, 50);
}

.word_row {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.target_number {
  width: 100px;
  height: 60px;
  border: 2px solid #969595;
  margin: 2px;
  vertical-align: middle;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  background-color: rgb(6, 6, 179);
  text-transform: uppercase;
  user-select: none;
}

.number_tile {
  width: 60px;
  height: 60px;
  border: 2px solid #969595;
  margin: 2px;
  vertical-align: middle;
  font-size: 2.5rem;
  color: white;
  background-color: rgb(44, 44, 184);
  text-transform: uppercase;
  user-select: none;
}

.number_row {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

/* Splash Screen page ========================= */
.splash-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
}

.main-menu-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 1.2em;
  transition: opacity 0.5s ease;
}

[data-loading-state="loading"] {
  opacity: 1;
}

[data-loading-state="loaded"] {
  opacity: 0;
}

.game-name {
  display: flex;
  padding: 1em;
  padding-top: 0.5em;
  align-items: center;
  justify-content: center;
}

.game-name-label {
  margin-top: 0.5em;
  font-size: 3rem;
}

.studio-name {
  border: 2px solid;
  border-color: #cccccc;
  color: #b3b3b3;
  background-color: #e6e6e6;
  padding: 0.5em 3em;
}

/* Home page ========================= */
.home {
  display: flex;
  flex-grow: 1;
  font-size: 2vmin;
}

.sidebar {
  flex-basis: 33.3%;
  background-color: white;
  border-right: 3px solid #ccc;
  padding: 2em;
}

.sidebar-title {
  text-align: center;
  background-color: #4d4d4ddd;
  padding: 20px 0;
  margin-bottom: 1em;
  color: #e6e6e6;
  font-weight: bold;
  font-size: 1.5em;
}

.sidebar-title .logo,
.title .logo {
  font-size: 1rem;
}

.sidebar-links {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.sidebar-links .sidebar-link {
  list-style-type: none;
  margin: 0.2em;
}

.sidebar-link .btn.default {
  min-width: 250px;
}

.game-mode-title {
  display: flex;
  flex-grow: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background-color: #4d4d4ddd;
  color: white;
  height: 15%;
  padding: 0.5em;
}

.game-mode-button {
  display: flex;
  flex-shrink: 0;
  font-weight: bold;
  border: 0;
  padding: 0;
  height: 18em;
  width: 20.5em;
  border-radius: 2px solid rgb(192, 174, 174);
  cursor: pointer;
  user-select: none;
}

.game-mode-button:hover {
  opacity: 0.8;
}

.game-mode-button:hover .game-mode-title {
  background-color: #444;
}

/*
.game-mode-button[data-game-mode="wordle_daily"] {
  background-image: url(/src/images/daily.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.game-mode-button[data-game-mode="wordle_repeat"] {
  background-image: url(/src/images/repeat.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.game-mode-button[data-game-mode="wordle_limitless"] {
  background-image: url(/src/images/limitless.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.game-mode-button[data-game-mode="wordle_puzzle"] {
  background-image: url(/src/images/puzzle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
*/

.dice_row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice_square {
  width: 40px;
  border: 2px solid black;
  margin: 10px 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
