@use "sass:map";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  & > * {
    flex-grow: 1;
  }
}

body {
  margin: 0;
  font-family: "Ubuntu", -apple-system, BlinkMacSystemFont, "Segoe UI Semilight", "Segoe UI", "Roboto", "Oxygen",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  display: flex;
  .letter_tile[data-animation-setting="true"] {
    animation: flipRevealLetter 1.5s;
  }
}

.btn {
  display: flex;
  font-family: Arial;
  border: none;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  border-left: 2px solid #777;
  border-bottom: 2px solid #777;
  font-weight: bold;
  padding: 15px 15px 15px 15px;
  margin: 5px 5px 0 0;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  text-transform: uppercase;
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &.default {
    background-color: #e6e6e6;
    color: #4d4d4d;
    &:hover {
      background-color: #c7c3c3;
      &:active {
        background-color: #a1a1a1;
      }
    }
    &:focus {
      background-color: #d3d3d3;
    }
  }
  &.accept {
    background-color: #abe0ab;
    color: #4d4d4d;
    border-color: #739673;
    &:hover {
      background-color: #b9f7b9;
      &:active {
        background-color: #8acf8a;
      }
    }
    &:focus {
      background-color: #6fd476;
    }
  }
  &.destructive {
    background-color: #f5bfbf;
    color: #4d4d4d;
    border-color: #8d4c4c;
    &:hover {
      background-color: #f39494;
      &:active {
        background-color: #e97272;
      }
    }
    &:focus {
      background-color: #f49494;
    }
  }
  svg {
    margin-right: 0.3em;
  }
}

// Add Vowel, Consonant and Quick Pick
.add-letter-buttons-wrapper .btn.default {
  background-color: #2c2cb8;
  border-color: lighten(#2c2cb8, 10%);
  &:hover {
    background-color: darken(#2c2cb8, 10%);
  }
  color: white;
}

select,
input {
  font-size: 1rem;
  color: inherit;
  padding: 0.35em;
  border-radius: 0;
  &[type="checkbox"] {
    font-size: 1.2rem;
    height: 1.2em;
    width: 1.2em;
  }
}

.title {
  font-weight: bold;
  font-size: 60px;
  text-transform: uppercase;
  margin: 20px 0 20px 0;
}

.word_grid,
.countdown_word_grid,
.countdown_numbers_grid {
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #e6e6e6;
  padding: 20px 20px;
  background-image: linear-gradient(318deg, #ccc, transparent);
  border-bottom: 3px solid #bbb;
  border-right: 3px solid #bbb;
  max-width: 95vw;
}

.level {
  display: flex;
  align-items: center;
  flex-direction: column;
}

// Background color of countdown word grid is slightly different
.countdown_word_grid {
  background-color: #2474bb !important;
  background-image: none !important;
  border: 10px solid rgb(44, 44, 184);
}

.word-row-category-wrapper {
  display: flex;
  align-items: center;
  .word-row-category-name {
    padding: 0.3em;
    min-width: 12em;
    text-align: left;
    font-size: 1.15em;
    color: #333;
  }
}

// Shake entire WordRow with invalid word
.word_row[data-invalid-word-submitted="true"][data-apply-animation="true"][data-animation-setting="true"] {
  animation: shakeIncorrectInput 0.4s;
}

// Jump every LetterTile in WordRow when a correct word is submitted
.word_row[data-correct-word-submitted="true"][data-apply-animation="true"] .letter_tile[data-animation-setting="true"] {
  animation: jumpCorrectInput 1.2s;
}

// Pop LetterTile when a letter is added
.letter_tile[data-new-letter-added="true"][data-apply-animation="true"][data-animation-setting="true"] {
  animation: popLetterInput 0.2s;
}

// Flip LetterTile after submmited a WordRow
.letter_tile[data-has-been-submitted="true"][data-apply-animation="true"][data-animation-setting="true"] {
  animation: flipRevealLetter 1.5s;
}

// For the target tile on Number Arithmetic
.target {
  .letter_tile[data-new-letter-added="true"][data-apply-animation="true"][data-animation-setting="true"] {
    animation: flipRevealLetter 1.5s;
  }
}

.letter_tile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.6em;
  height: 1.6em;
  border: 2px solid #6664;
  border-radius: 8px;
  margin: 2px;
  vertical-align: middle;
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  color: #444;
  text-transform: uppercase;
  user-select: none;
  text-shadow: 0 2px 2px #999;
  background-color: #e0e4e7;
  /*
  transition: transform 0.8s;
  transform-style: preserve-3d;
  */
  &[data-is-clickable="true"] {
    cursor: pointer;
    &:hover {
      background-color: #fff;
    }
  }
}

// For when a letter is entered during Wordle
@keyframes popLetterInput {
  0% {
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

// For when checking a guess in Wordle (each letter tile flips to reveal status)
@keyframes flipRevealLetter {
  0% {
    transform: perspective(400px) rotateX(90deg);
  }
  40% {
    transform: perspective(400px) rotateX(-20deg);
  }
  70% {
    transform: perspective(400px) rotateX(20deg);
  }
  100% {
    transform: perspective(400px) rotateX(0deg);
  }
}

// For when an incomplete guess is entered during Wordle
@keyframes shakeIncorrectInput {
  0% {
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  20% {
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  40% {
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
  60% {
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

// For when the target word is correctly guessed during Wordle
@keyframes jumpCorrectInput {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-25px);
  }
  50% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-20px);
  }
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.numbers_arithmetic {
  .target {
    .letter_tile {
      margin-top: 0.5em;
      margin-bottom: 0.3em;
      width: 2em;
    }
  }
  .guess {
    .letter_tile {
      width: 3.5em;
    }
  }
}

// The letter tiles of Countdown Letters
.countdown-letters-wrapper .word_row .letter_tile,
.countdown_word_grid .word_row .letter_tile {
  border: none;
  border-radius: 0px;
  background-color: #2c2cb8;
  color: white;
  text-shadow: none;
}

$data-statuses: (
  "correct": #4ca150,
  "contains": #dc8d37,
  "incorrect": #cc2132,
  "not in word": #cbcbcb,
);

// Keyboard buttons
.btn.default.keyboard_space {
  min-width: 15em;
}

.keyboard_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  & > * {
    display: flex;
  }
}

.btn.default[data-status="correct"] {
  color: white;
  background-color: map.get($data-statuses, "correct");
}

.btn.default[data-status="contains"] {
  color: white;
  background-color: map.get($data-statuses, "contains");
}

.btn.default[data-status="incorrect"] {
  color: white;
  background-color: map.get($data-statuses, "incorrect");
}

.btn.default[data-status="not in word"] {
  color: white;
  background-color: map.get($data-statuses, "not in word");
}

// Wordle and CountdownLetter letter tiles
.letter_tile[data-status="correct"],
.countdown_word_grid .word_row .letter_tile[data-status="correct"] {
  color: white;
  background-color: map.get($data-statuses, "correct");
  &[data-is-clickable="true"]:hover {
    background-color: lighten(map.get($data-statuses, "correct"), 10%);
  }
}

.letter_tile[data-status="contains"],
.countdown_word_grid .word_row .letter_tile[data-status="contains"] {
  color: white;
  background-color: map.get($data-statuses, "contains");
  &[data-is-clickable="true"]:hover {
    background-color: lighten(map.get($data-statuses, "contains"), 10%);
  }
}

.letter_tile[data-status="incorrect"],
.countdown_word_grid .word_row .letter_tile[data-status="incorrect"] {
  color: white;
  background-color: map.get($data-statuses, "incorrect");
  &[data-is-clickable="true"]:hover {
    background-color: lighten(map.get($data-statuses, "incorrect"), 10%);
  }
}

.letter_tile[data-status="not in word"],
.countdown_word_grid .word_row .letter_tile[data-status="not in word"] {
  color: white;
  background-color: map.get($data-statuses, "not in word");
  &[data-is-clickable="true"]:hover {
    background-color: lighten(map.get($data-statuses, "not in word"), 10%);
  }
}

.word_row {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.word_row_vertical {
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

// TODO: This isn't being applied, the className is target-number but that is the wrapping div not the target number tile
.target-number {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.2em 0;

  .number_tile {
    width: 2.5em;
    height: 0.8em;
    border: 2px solid #969595;
    margin: 2px;
    vertical-align: middle;
    font-size: 3rem;
    font-weight: bold;
    color: white;
    background-color: rgb(6, 6, 179);
    text-transform: uppercase;
    user-select: none;
  }
}

.number_tile,
.operator_tile,
.equals_tile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.65em;
  height: 1.65em;
  padding: 0.2em;
  margin: 2px;
  vertical-align: middle;
  font-family: "Ubuntu", sans-serif;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  user-select: none;
  border: none;
  border-radius: 0px;
  background-color: #2c2cb8;
  color: white;
  text-shadow: none;
  &[data-is-readonly="false"] {
    &[data-disabled="true"] {
      cursor: not-allowed;
      opacity: 0.6;
    }
    &[data-disabled="false"] {
      cursor: pointer;
      &:hover {
        background-color: darken(#2c2cb8, 10%);
      }
    }
  }
}

.countdown-numbers-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.95em;
  & > .number_row {
    & > .number_tile {
      width: 2.2em;
    }
  }
  .add-number-buttons-wrapper {
    display: flex;
    margin: 0.5em 0;
  }
  .add-number-buttons {
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
  }
}

.number_row {
  display: flex;
  align-items: center;
}
.best-solution {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
  .message-notification {
    min-width: 20em;
  }
}

/* Settings page ============================== */
.settings {
  display: flex;
  .setting-section-links {
    display: flex;
    flex-direction: column;
    border-right: 2px solid #c0c0c0;
    min-width: 10em;
    background-color: #ccc;
    padding-bottom: 0.5em;
    .setting-section-link {
      margin: 0.5em;
      margin-bottom: 0;
    }
    .setting-section-link-spacer {
      flex-grow: 1;
    }
  }
  .settings-section {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    .settings-section-title {
      background-color: #eee;
      margin: 0;
      padding: 0.7em 0.9em;
      border-bottom: 1px solid #ddd;
      text-transform: uppercase;
      color: #333;
    }
    .selected-setting {
      display: flex;
      flex-direction: column;
      padding: 0.7em;
      .setting {
        display: flex;
        flex-direction: column;
        padding: 0.8em;
        &:hover {
          background-color: #e8e8e8;
        }
        .setting-name {
          padding-bottom: 0.3em;
        }
        .setting-control {
          input[type="range"],
          select {
            min-width: 15em;
          }
        }
      }
    }
  }
}

/* Splash Screen page ========================= */
.splash-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
  background-color: #ddd;
  background-size: 100%;
  .studio-logo {
    align-self: center;
  }
}

.main-menu-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 1.2em;
  transition: opacity 0.6s ease;
}

[data-loading-state="loading"] {
  opacity: 1;
}

[data-loading-state="loaded"] {
  opacity: 0;
}

.game-name {
  display: flex;
  padding: 1em;
  padding-top: 0.5em;
  align-items: center;
  justify-content: center;
}

.game-name-label {
  margin-top: 0.5em;
  font-size: 3rem;
}

.studio-logo {
  display: flex;
  border: 2px solid;
  border-color: #cccccc;
  color: #b3b3b3;
  background-color: #e6e6e6;
  padding: 0.5em 3em;
  margin: 0.5em 0;
  flex-grow: 0;
  flex-shrink: 0;
  user-select: none;
  align-self: flex-start;
}

.title-page {
  display: flex;
  background-size: 100%;
  .sidebar {
    display: flex;
    flex-direction: column;
    flex-basis: 30em;
    background-color: white;
    border-right: 1px solid #ccc;
    .sidebar-header {
      background-color: #eee;
      border-bottom: 1px solid #ddd;
      margin-bottom: 0.5em;
      padding: 4em 2em;
      .logo {
        font-size: 0.75em;
      }
      .sidebar-title {
        font-weight: normal;
        color: #999;
        font-size: 1.3em;
        font-style: italic;
        margin-bottom: 0;
      }
    }
    .sidebar-links {
      display: flex;
      flex-direction: column;
      padding: 1.2em;
      margin: 0;
      font-size: 1.3em;
      flex-grow: 1;
      .sidebar-link {
        list-style-type: none;
        padding: 0.4em 0.2em;
        margin: 0;
        &:first-child {
          padding-top: 0;
        }
        .btn {
          padding: 1em;
          width: 100%;
          text-align: left;
        }
        &.spacer {
          flex-grow: 1;
        }
      }
    }
  }
}

/* Home page ========================= */
.home {
  display: flex;
  flex-grow: 1;
  font-size: 2vmin;
  .games {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    margin-bottom: 0.6em;
    font-size: 0.74em;
    .sidebar {
      background: #ddd;
      padding: 0.8em;
      margin: 0.6em;
      margin-bottom: 0;
      &.campaign-sidebar {
        padding: 0;
        .campaign.widgets {
          padding: 0;
          margin: 0;
          .widget {
            margin: 0;
            min-height: 17em;
            flex-grow: 1;
          }
        }
      }
      .sidebar-title {
        padding: 0.2em;
        padding-bottom: 0.4em;
        margin: 0;
        color: #fff;
        font-size: 1.5em;
        user-select: none;
        text-transform: uppercase;
        .logo {
          font-size: 1rem;
        }
      }
    }
  }
}

.widgets {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  .widget {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0.4em;
    width: 11em;
    height: 7em;
    background-color: #eee;
    border-bottom: 3px solid #ccc;
    padding: 1em;
    padding-top: 0.5em;
    user-select: none;
    &:hover {
      background-color: #fafafa;
    }
    .widget-title,
    .widget-subtitle {
      display: flex;
      flex-grow: 1;
      font-weight: normal;
      align-items: center;
      color: #999;
      padding: 0.4em 0.2em;
      //text-transform: uppercase;
    }
    .widget-title {
      font-size: 1.2em;
      position: relative;
      .tooltip {
        display: none;
        position: absolute;
        z-index: 9999;
        top: 0;
        right: 0;
        margin: 1em;
        background-color: #eee;
        box-shadow: 0 0 4px #888;
        color: #777;
        padding: 0.5em;
        min-width: 9em;
        max-width: 16em;
        text-transform: none;
        font-size: 0.9em;
      }
      .tooltip-icon {
        position: absolute;
        right: 0;
        opacity: 0.6;
        cursor: help;
        &:hover {
          opacity: 1;
          & + .tooltip {
            display: flex;
          }
        }
      }
    }
    .widget-button-wrapper {
      display: flex;
      position: relative;
      font-size: 0.95em;
      .widget-button {
        display: flex;
        flex-shrink: 0;
        font-weight: bold;
        border: 0;
        padding: 0;
        height: 11em;
        width: 13em;
        cursor: pointer;
        user-select: none;
        &:hover {
          opacity: 0.8;
          .widget-title {
            background-color: #444;
          }
        }
      }
    }
  }
}

.title .logo {
  font-size: 1rem;
}

.message-notification {
  display: inline-block;
  background-color: #ddd;
  padding: 0.5em 1em;
  min-width: 16em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  border: 2px solid #444;
  text-align: center;
}

.message-notification[data-type="success"] {
  background-color: #d3ffc5;
  border-color: #003b08;
  color: #002004;
}

.message-notification[data-type="info"] {
  background-color: #aff3ff;
  border-color: #004a4d;
  color: #003336;
}

.message-notification[data-type="warning"] {
  background-color: #ffe6b0;
  border-color: #945400;
  color: #442700;
}

.message-notification[data-type="error"] {
  background-color: #ffb0b0;
  border-color: #5a0000;
  color: #520000;
}

.best_words_list {
  background-color: #eee;
  padding: 0.5em;
  padding-left: 2em;
  text-align: left;
  text-transform: uppercase;
  border: 1px solid #ddd;
  color: #333;
}

.version {
  position: fixed;
  user-select: none;
  bottom: 0;
  right: 0;
  opacity: 0.3;
  margin: 0.3em;
  pointer-events: none;
}

.toolbar {
  display: flex;
  align-items: stretch;
  background-color: #333;
  flex-grow: 0;
  border-bottom: 1px solid #444;
  color: #bbb;
  .settings-button,
  .help-info-button,
  .back-button {
    padding: 0.52em 0.6em;
    margin: 0.3em;
  }
  .help-info-button {
    cursor: help;
  }
  .title {
    display: flex;
    flex-grow: 1;
    font-size: 1.2rem;
    font-weight: normal;
    margin: 0;
    padding: 0.5em;
    padding-left: 7.5em;
    justify-content: center;
    align-items: center;
    text-transform: none;
  }
  .gold_counter {
    cursor: pointer;
    display: flex;
    align-items: center;
    background: linear-gradient(122deg, #d1b600 0%, #d5bb01 18%, #e3c800 46%);
    border-bottom: 3px solid #d8bf00;
    color: white;
    font-size: 1.4em;
    user-select: none;
    padding: 0.25em;
    padding-right: 0.7em;
    min-width: 4em;
    color: #fffdda;
    text-shadow: #111 1px 0px 3px;
    &:hover {
      background: linear-gradient(122deg, lighten(#d1b600, 2%) 0%, lighten(#d5bb01, 2%) 18%, lighten(#e3c800, 2%) 46%);
      border-bottom-color: #dbc200;
    }
  }
  .gold_coin_image {
    height: 0.8em;
    width: 0.8em;
    padding: 0 6px;
  }
}

.progress_bar {
  position: relative;
  width: 15em;
  border: 1px solid #3337;
  margin-top: 1.3em;
  height: 1.6em;
  background-color: #fffa;
  color: #444;
  .progress_bar_progress {
    background-color: #ddd;
    height: 1.6em;
    transition: all 1s linear;
  }
  .progress_bar_content {
    position: absolute;
    top: 0;
    left: 0.3em;
    right: 0.3em;
    bottom: 0;
    display: flex;
    align-items: center;
  }
}

.challenges {
  font-size: 0.75em;
  background-color: #fff0c8;
  width: 22em;
  .challenges-title {
    margin: 0;
    padding: 0.8em;
    padding-bottom: 0.1em;
    font-weight: normal;
    color: #bb9a2e;
  }
}

.challenge {
  position: relative;
  opacity: 0.95;
  padding: 0.8em;
  margin: 0.9em;
  opacity: 0.9;
  cursor: pointer;
  user-select: none;
  color: #eee;
  background: linear-gradient(122deg, #d1b600 0%, #d5bb01 18%, #e3c800 46%);
  border-bottom: 3px solid #c0aa00;
  &[data-status="redeemed"] {
    opacity: 0.3;
  }
  &[data-status="acheived"] {
    opacity: 1;
    border: 3px solid #b49f01;
    border-bottom-color: #7c6e00;
    &:hover {
      border-bottom-color: #7c6e00;
    }
  }
  &[data-status="superseded"] {
    opacity: 0.5;
  }
  &:hover {
    background: linear-gradient(122deg, lighten(#e3c800, 2%) 0%, lighten(#d5bb01, 2%) 18%, lighten(#e3c800, 2%) 46%);
    border-bottom-color: #dbc200;
  }
  &:last-child {
    border-bottom: none;
  }
  .challenge-icon {
    margin: 0.2em;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0.7;
  }
  .challenge-title {
    margin: 0.2em 0;
    color: #fcf486;
    text-shadow: #111 1px 0px 3px;
  }
  .challenge-reward {
    margin-top: 0.5em;
    padding-right: 0.6em;
  }
  .challenge-description {
    margin: 0;
    margin-top: 0.2em;
    text-shadow: #111 1px 0px 3px;
  }
  .challenge-redeem-reward {
    font-size: 0.9em;
    padding: 0.8em;
    margin-top: 0.8em;
  }
  .progress_bar {
    margin-top: 0.7em;
    border-color: #af9208;
  }
}

.challenge-reward {
  display: inline-block;
  margin: 0;
  padding: 0.2em;
  text-shadow: #111 1px 0px 2px;
  background-color: #eec922;
  border: 1px solid #e4db61;
  color: #fffdda;
  padding-right: 0.6em;
  .challenge-reward-icon {
    margin-right: 0.3em;
    float: left;
  }
}

// Challenges page ===========================================
.challenges-info {
  background-color: #fdf6e2;
  padding: 0.7em;
  .challenges-info-title {
    margin: 0.7em 0;
  }
  .total-acheived,
  .total-gold-coins {
    font-size: 0.95em;
    opacity: 0.85;
    color: #3a3a3a;
    padding: 0.3em;
    margin: 0.2em 0;
  }
  .challenges-info-categories {
    display: flex;
    flex-direction: column;
    padding: 0.3em;
    margin-top: 1em;
    .challenges-info-category {
      display: flex;
      align-items: center;
      margin-bottom: 0.8em;
      background-color: #ffe291;
      align-items: stretch;
      border: 1px solid #ffd746;
      .challenges-info-category-heading {
        display: flex;
        flex-direction: column;
        padding: 0.6em;
        min-width: 11em;
        color: #bb8a00;
        .challenges-info-category-title {
          display: flex;
          align-items: center;
          padding: 0.3em;
          margin: 0;
          flex-grow: 1;
          font-size: 1.7em;
          color: #fffcf5;
          text-shadow: #111 1px 0px 3px;
        }
        .total-acheived,
        .total-gold-coins {
          font-size: 0.95em;
          opacity: 0.85;
          color: #3a3a3a;
          padding: 0.3em;
          margin: 0.2em 0;
        }
      }
      .challenges-info-category-challenges {
        display: flex;
        overflow-x: auto;
        padding: 0.6em;
        padding-bottom: 0.3em;
        background-color: #fff0c8;
        flex-grow: 1;
        .challenge {
          margin: 0.2em;
        }
      }
    }
  }
}

.gamemode-settings-button {
  display: inline-block;
  cursor: pointer;
  background-color: white;
  color: #444;
  text-decoration: underline;
  border: 2px solid #676767;
  padding: 0.5em;
  margin: 0.2em;
  &:hover {
    background-color: #e0e0e0;
  }
}

.gamemode-settings-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.2em;
  & > label {
    display: flex;
    align-items: center;
    margin: 0.2em;
    & > input,
    & > select {
      margin-right: 0.4em;
      text-transform: capitalize;
      &[type="checkbox"] {
        cursor: pointer;
      }
    }
  }
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000a;
  z-index: 999;
  .modal-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 1em;
    flex-shrink: 0;
    flex-grow: 1;
    max-width: 35em;
    box-shadow: 0 0 3px 3px #333;
    .modal-header {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #333;
      padding: 0.4em;
      color: #eee;
      &[data-mode="default"] {
        background-color: #333;
      }
      &[data-mode="info"] {
        background-color: #0e6a8f;
      }
      &[data-mode="success"] {
        background-color: #739673;
      }
      &[data-mode="error"] {
        background-color: #912222;
      }
      .modal-title {
        font-size: 1.2em;
        color: #eee;
        flex-grow: 1;
        padding: 0.2em;
        margin: 0;
        font-weight: normal;
      }
      .modal-close-button {
      }
    }
    .modal-body {
      padding: 1em;
      & > p {
        margin-top: 0;
      }
      label {
        display: flex;
        align-items: center;
        padding: 0.1em;
        color: #333;
        margin: 0.1em;
        input[type="checkbox"] {
          margin-right: 0.3em;
        }
      }
      pre {
        overflow-x: auto;
        padding: 0.5em;
        background-color: #f5f5f5;
        border: 1px solid #e5e5e5;
      }
    }
  }
}

.error-fallback-display-wrapper,
.error-fallback-action-wrapper {
  display: flex;
}

.error-fallback-label {
  margin: 1em 0.5em 0px 0px;
}

.error-fallback-copy {
  margin-left: 0.5em;
}

.error-fallback-reset {
}

.error-fallback-send {
}

.category_label {
  display: flex;
  align-items: center;
  strong {
    margin-right: 0.5em;
    margin-bottom: 0.1em;
  }
  select {
    flex-grow: 1;
  }
}

/*
.widget-button[data-game-mode="wingo/daily"] {
  background-image: url(/src/images/daily.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.widget-button[data-game-mode="wingo/repeat"] {
  background-image: url(/src/images/repeat.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.widget-button[data-game-mode="wingo/increasing"] {
  background-image: url(/src/images/increasing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.widget-button[data-game-mode="wingo/puzzle"] {
  background-image: url(/src/images/puzzle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
*/

.dice_row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice_square {
  width: 2em;
  height: 2em;
  border: 1px solid #aaa;
  margin: 0.1em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3em;
  color: #6a6a6a;
  background-color: #fff8;
  user-select: none;
  &[data-animation-setting="true"][data-apply-animation="true"] {
    animation: flipRevealLetter 1.5s;
  }
}

.dice_wrapper {
  background-color: #fff8;
  padding: 0.4em;
  min-width: 55em;
  z-index: 99999;
}

$orange: #aa5208bb;
$orange-border: #aa5208;
$light-blue: #00a59bbb;
$light-blue-border: #00a59b;
$yellow: #a5a803bb;
$yellow-border: #a5a803;
$dark-blue: #006dacbb;
$dark-blue-border: #006dac;
$pink: #e757b7bb;
$pink-border: #e757b7;
$green: #05ab00bb;
$green-border: #05ab00;
$blue-gray: #6699cc;
$blue-gray-border: #5f95cc;
$purple: #b801b5bb;
$purple-border: #b801b5;
$dark-orange: #e27e0bbb;
$dark-orange-border: #e27e0b;
$red: #b10503bb;
$red-border: #b10503;

$nubble-colors-names: (
  orange: $orange,
  light-blue: $light-blue,
  yellow: $yellow,
  dark-blue: $dark-blue,
  pink: $pink,
  green: $green,
  blue-gray: $blue-gray,
  purple: $purple,
  dark-orange: $dark-orange,
  red: $red,
);

.nubble-score-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #fff8;
  padding: 0.4em;
  min-width: 55em;
  .teams-info-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    .team-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0.5em;
      opacity: 0.8;
      &[data-selected="true"] {
        font-weight: bold;
        opacity: 1;
      }
      &[data-team-number="0"] {
        color: $blue-gray-border;
      }
      &[data-team-number="1"] {
        color: $red-border;
      }
      &[data-team-number="2"] {
        color: $green-border;
      }
      &[data-team-number="3"] {
        color: $yellow-border;
      }
      .nubble-score,
      .nubble-timer {
        align-self: center;
        margin-top: 0.3em;
        margin-bottom: 0.3em;
        padding: 0.5em 2em;
        min-width: 2.5em;
        border: 2px solid #888;
        color: #444;
        background-color: #fff8;
      }
    }
  }
  .nubble-pin-scores {
    .nubble-button-display {
      color: white;
      font-size: 1.2em;
      //font-weight: bold;
      text-align: center;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      width: 3em;
      height: 3em;
      padding: 0.2em;
      margin: 0.1em;
    }
  }
}

.nubble-button {
  cursor: pointer;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  //font-weight: bold;
  &[data-shape="square"] {
    padding: 0.3em;
    min-width: 3em;
    min-height: 3em;
    margin: 0.1em;
    &[data-team-number] {
      position: relative;
      &::after {
        content: " ";
        position: absolute;
        top: 0.3em;
        left: 0.3em;
        right: 0.3em;
        bottom: 0.3em;
        background-color: #bbb;
        border-radius: 2em;
      }
      &[data-team-number="0"] {
        &::after {
          background: radial-gradient(
            circle at 32% 32%,
            lighten($blue-gray-border, 5%),
            darken($blue-gray-border, 25%)
          );
        }
      }
      &[data-team-number="1"] {
        &::after {
          background: radial-gradient(circle at 32% 32%, lighten($red-border, 5%), darken($red-border, 25%));
        }
      }
      &[data-team-number="2"] {
        &::after {
          background: radial-gradient(circle at 32% 32%, lighten($green-border, 5%), darken($green-border, 25%));
        }
      }
      &[data-team-number="3"] {
        &::after {
          background: radial-gradient(circle at 32% 32%, lighten($yellow-border, 5%), darken($yellow-border, 25%));
        }
      }
    }
  }
  &[data-shape="hexagon"] {
    margin: 0.15em 0.02em;
    .top {
      display: block;
      width: 0;
      border-bottom: 15px solid #6c6;
      border-left: 26px solid transparent;
      border-right: 26px solid transparent;
    }
    .middle {
      display: block;
      width: 52px;
      height: 30px;
      background-color: #6c6;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
    }
    .bottom {
      display: block;
      width: 0;
      border-top: 15px solid #6c6;
      border-left: 26px solid transparent;
      border-right: 26px solid transparent;
    }
    &[data-team-number] {
      .middle {
        position: relative;
        &::after {
          content: " ";
          position: absolute;
          top: -0.3em;
          left: 0.3em;
          right: 0.3em;
          bottom: -0.3em;
          background-color: #bbb;
          border-radius: 2em;
        }
      }
      &[data-team-number="0"] {
        .middle::after {
          background: radial-gradient(
            circle at 32% 32%,
            lighten($blue-gray-border, 5%),
            darken($blue-gray-border, 25%)
          );
        }
      }
      &[data-team-number="1"] {
        .middle::after {
          background: radial-gradient(circle at 32% 32%, lighten($red-border, 5%), darken($red-border, 25%));
        }
      }
      &[data-team-number="2"] {
        .middle::after {
          background: radial-gradient(circle at 32% 32%, lighten($green-border, 5%), darken($green-border, 25%));
        }
      }
      &[data-team-number="3"] {
        .middle::after {
          background: radial-gradient(circle at 32% 32%, lighten($yellow-border, 5%), darken($yellow-border, 20%));
        }
      }
    }
  }
}

.nubble-button-display {
  cursor: default;
}

.nubble-button[data-shape="square"][data-prime="true"],
.nubble-button-display[data-prime="true"] {
  border: 4px solid #3d3d3d !important;
}

// Sets background, border and on hover colours for nubble pins
@each $colourName, $color in $nubble-colors-names {
  .nubble-button[data-shape="square"][data-colour="#{$colourName}"] {
    background-color: $color;
    // Border has darker tone of colour
    border: 4px solid darken($color, 10%);
    &:disabled {
      cursor: not-allowed;
    }
    &:not(:disabled):hover {
      // On hover, make background color same as border
      background-color: darken($color, 10%);
    }
    &[data-picked="true"] {
      cursor: not-allowed;
      color: #ddd;
    }
  }
  .nubble-button[data-shape="hexagon"][data-colour="#{$colourName}"] {
    background: none;
    border: none;
    padding: 0.1em;
    .middle {
      background-color: $color;
    }
    .top {
      border-bottom-color: $color;
    }
    .bottom {
      border-top-color: $color;
    }
    &:disabled {
      cursor: not-allowed;
    }
    // Border has darker tone of colour
    //border: 4px solid darken($color, 10%);
    &:not(:disabled):hover {
      .middle {
        // On hover, make background color same as border
        background-color: darken($color, 10%);
      }
      .top {
        border-bottom-color: darken($color, 10%);
      }
      .bottom {
        border-top-color: darken($color, 10%);
      }
    }
    &[data-picked="true"] {
      cursor: not-allowed;
      color: #aaa;
    }
  }
  .nubble-button-display[data-colour="#{$colourName}"] {
    background-color: $color;
    // Border has darker tone of colour
    border: 4px solid darken($color, 10%);
  }
}

.nubble-grid {
  padding: 0em 10em;
  &[data-shape="hexagon"] {
    margin-top: -4em;
    margin-bottom: -4em;
  }
  &[data-shape="square"] {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
}

.add-letter-buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 0;
}

.add-vowel,
.add-consonant {
  text-align: center;
  cursor: pointer;
  padding: 1em;
  min-width: 4em;
}

.countdown_letters_guesses {
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 250px;
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 0.5em;
}

.countdown_letters_guess_label {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
}

.countdown_letters_guess_input {
}

.campaign {
  background: #ddd;
  padding: 1.2em;
  padding-bottom: 2em;
  margin: 0.6em;
  margin-bottom: 0;
  .widget {
    min-height: 19em;
    min-width: 25vw;
  }
}

.area-button.widget {
  border-bottom: 3px solid #888;
  border-left: 3px solid #888;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
    .widget-title,
    .widget-subtitle {
      color: #fff;
    }
  }
  .widget-subtitle {
    font-size: 1.1em;
    flex-grow: 0;
    color: #ddd;
    margin: 0.5em;
  }
  .widget-title {
    font-size: 3em;
    color: #ddd;
    justify-content: flex-start;
  }
  .widget-button-wrapper {
    margin-bottom: 3em;
  }
}

.area,
.campaign {
  .widgets,
  .area-button {
    flex-grow: 1;
    background-repeat: no-repeat;
    background-size: 100%;
    &[data-unlock-status="locked"] {
      background: #999 !important;
      opacity: 0.45;
      &:hover {
        opacity: 0.5;
      }
    }
    .widget {
      height: 10em;
    }
    .level-count {
      display: flex;
      align-items: center;
      color: #ddd;
      .btn {
        margin-right: 1em;
      }
    }
  }
}

.area,
.level {
  .area-header {
    background-color: #3337;
    padding: 0.6em;
    align-self: stretch;
    margin-bottom: 0.3em;
    border-bottom: 1px solid #444c;
    .area-header-title {
      font-weight: normal;
      margin: 0;
      color: #bbb;
    }
  }
}

.area {
  position: relative;
  background-size: 100%;
  background-repeat: no-repeat;
  .button-node {
    padding: 0.3em;
    outline: none;
    border: none;
    width: 2.5em;
    height: 2.5em;
    border-radius: 2.5em;
    color: #ccc;
    text-shadow: #444 1px 0px 3px;
    font-family: inherit;
    font-size: inherit;
    border: 0.2em solid #8f8f8f;
    opacity: 0.9;
    cursor: not-allowed;
    background: linear-gradient(137deg, #7e7e7e 0%, #9e9e9e 53%, #cacaca 100%);
    box-shadow: 0 0.3em 0.2em #333333;
    &:hover {
      opacity: 1;
      border-color: #797979;
      background: linear-gradient(137deg, #797979 0%, #808080 53%, #a5a5a5 100%);
    }
    &[data-is-unlocked="true"] {
      color: #f5dbf4cc;
      cursor: pointer;
      opacity: 1;
      background: linear-gradient(137deg, #6418a1 0%, #7d28c2 53%, #8a3cca 100%);
      box-shadow: 0 0.3em 0.2em #421942;
      outline-offset: 0.1em;
      border-color: #3b1b3b;
      &[data-is-completed="false"] {
        box-shadow: none;
        outline-offset: 0.1em;
        outline: 0.3em solid #3b1b3b;
      }
      &:hover {
        background: linear-gradient(137deg, #54118a 0%, #6214a1 53%, #852fcc 100%);
      }
    }
    &[data-is-completed="true"] {
      border: 0.2em solid #2c8a4d;
      color: #edffebcc;
      cursor: pointer;
      opacity: 1;
      background: linear-gradient(137deg, #2a7c45 0%, #2e864c 53%, #49c463 100%);
      box-shadow: 0 0.3em 0.2em #133122;
      &:hover {
        border-color: #1a6b36;
        background: linear-gradient(137deg, #206838 0%, #206637 53%, #32a04a 100%);
      }
    }
  }
}

.popper-overlay {
  z-index: 999;
}

.level-button.widget {
  min-width: 18em;
  height: auto !important;
  border-radius: 0.4em;
  padding: 0;
  background: linear-gradient(137deg, #e7e7e7 0%, #e4e4e4 53%, #f5f5f5 100%);
  &[data-is-unlocked="true"] {
    background: linear-gradient(137deg, #a246ed 0%, #a246ed 53%, #b25cf8 100%);
    .widget-subtitle {
      background: linear-gradient(137deg, #6a10b4 0%, #8b28db 53%, #8b28db 100%);
    }
    .widget-subtitle,
    .level-mode {
      color: #dbb7ec;
    }
  }
  &[data-is-completed="true"] {
    background: linear-gradient(137deg, #43be5d 0%, #45b84b 53%, #64ce61 100%);
    .widget-subtitle {
      background: linear-gradient(137deg, #0b7c3a 0%, #159655 53%, #0e721b 100%);
    }
    .widget-subtitle,
    .level-mode {
      color: #cdf3c7;
    }
  }
  .widget-subtitle {
    color: #eee;
  }
  .level-mode {
    color: #999;
  }
  .widget-subtitle {
    display: flex;
    margin: 0;
    padding: 0.8em;
    flex-grow: 0;
    font-size: 0.9em;
    background: linear-gradient(137deg, #a8a8a8 0%, #b6b6b6 53%, #bdbdbd 100%);
    .level-number {
      flex-shrink: 0;
    }
    .level-status {
      font-weight: bold;
      flex-grow: 1;
    }
  }
  .level-mode {
    text-transform: uppercase;
    margin: 0;
    padding: 0.5em;
    font-size: 1.3em;
  }
  .widget-button-wrapper {
    padding: 0.5em;
    padding-top: 0;
  }
}

.tile_row {
  display: flex;
}

.only_connect_wall {
  padding: 2em 0;
}

.only-connect-row {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Ubuntu", sans-serif;
  // Only Connect Wall button
  .only-connect-button {
    width: 12em;
    min-height: 7em;
    padding: 1em;
    border: none;
    border-radius: 6px;
    background-color: #a5cff0;
    color: #222;
    outline: none;
    margin: 0.2em;
    font-family: inherit;
    font-size: 1.25em;
    transition: all ease 0.2s;
    box-shadow: -3px 3px #2228;

    // TODO: Colours for more groups
    $only-connect-group-1-color: #004372;
    $only-connect-group-2-color: #006d5d;
    $only-connect-group-3-color: #5d2846;
    $only-connect-group-4-color: #00657f;

    &[data-selected="true"] {
      color: white;

      // Use the border color of the next group being selected
      &[data-num-completed-groups="0"] {
        background-color: $only-connect-group-1-color;
        color: white;
      }
      &[data-num-completed-groups="1"] {
        background-color: $only-connect-group-2-color;
        color: white;
      }
      &[data-num-completed-groups="2"] {
        background-color: $only-connect-group-3-color;
        color: white;
      }
      &[data-num-completed-groups="3"] {
        background-color: $only-connect-group-4-color;
        color: white;
      }
    }

    // Style each group
    &[data-row-number="1"] {
      background-color: $only-connect-group-1-color;
      color: white;
    }
    &[data-row-number="2"] {
      background-color: $only-connect-group-2-color;
      color: white;
    }
    &[data-row-number="3"] {
      background-color: $only-connect-group-3-color;
      color: white;
    }
    &[data-row-number="4"] {
      background-color: $only-connect-group-4-color;
      color: white;
    }
  }
}

.puzzle-config {
  flex-grow: 1;
  justify-content: flex-start;
  & > * {
    flex-grow: 0;
  }
  .sequence {
    display: flex;
    margin-bottom: 2em;
  }
  .answer-options {
    display: flex;
  }
  .sequence-tile {
    padding: 0.5em;
    margin: 0.4em;
    width: 10em;
    height: 10em;
    background-color: white;
    position: relative;
    box-shadow: 0 0 2px #999;
    opacity: 0.75;
    &[data-tile-type$="answer-option"] {
      border-left: 3px solid #777a;
      border-bottom: 3px solid #777a;
      opacity: 0.9;
      &[data-is-readonly="false"]:hover {
        background-color: #f2f2f2;
        opacity: 0.75;
        cursor: pointer;
      }
    }
    &[data-is-readonly="true"] {
      &[data-is-incorrect-answer="true"] {
        background-color: #f07676;
      }
      &[data-is-correct-answer="true"] {
        background-color: #7af076;
      }
    }
    .icon {
      position: absolute;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 35px;
      height: 35px;
    }
  }
}

.draggable-item-wrapper {
  $spacing-between-draggable-items: 8px;
  $drag-border-line-height: 4px;
  &[data-is-hovered-over="true"] {
    .draggable-item[data-is-grabbed="false"] {
      .content {
        margin-top: 0;
        border-top: $drag-border-line-height solid #555;
        margin-top: $spacing-between-draggable-items - $drag-border-line-height;
      }
    }
  }
  .draggable-item {
    display: flex;
    .content {
      display: flex;
      margin-top: $spacing-between-draggable-items;
      background-color: #efefef;
      box-shadow: 0 0 4px #777d;
      .handle {
        width: 2.5em;
        margin: 0.7em;
        color: #777;
      }
      .letter_tile {
        padding-left: 0.3em;
        width: 6em;
        justify-content: flex-start;
        margin: 0;
      }
    }
  }
}

.number_sets {
  .number_set_wrapper,
  .number_set_question {
    display: flex;
    padding: 0.8em;
    min-width: 21em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #bbb;
  }
  .number_set_wrapper {
    margin-top: 0.8em;
    background-color: #e0e0e0;
    border-top: none;
    & > * {
      margin-bottom: 0.6em;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .number_set_question {
    background-color: #fff;
    margin-bottom: 1.1em;
  }
}

.algebra {
  .algebra_inputs_wrapper,
  .algebra_questions_wrapper {
    display: flex;
    padding: 0.8em;
    min-width: 21em;
    align-items: center;
    justify-content: center;
    border: 1px solid #bbb;
  }
  .algebra_inputs_wrapper {
    margin-top: 0.8em;
    background-color: #e0e0e0;
    & > * {
      margin-right: 1.2em;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .algebra_questions_wrapper {
    flex-direction: column;
    background-color: #fff;
    margin-bottom: 1.1em;
    border-top: none;
    .algebra_question {
      margin-bottom: 0.8em;
    }
    .algebra_question_type {
      margin-bottom: 0.2em;
      font-size: 0.92em;
      opacity: 0.9;
    }
  }
  .letter_tile {
    width: 3.8em;
    margin-bottom: 0.3em;
  }
}

.word_codes {
  .word_codes_information,
  .word_codes_question {
    display: flex;
    flex-direction: column;
    padding: 0.8em;
    min-width: 25em;
    align-items: center;
    justify-content: center;
    border: 1px solid #bbb;
    background-color: #fff;
  }
  .word_codes_words {
    font-weight: bold;
    margin-bottom: 0.4em;
  }
  .word_codes_information {
    border-bottom: none;
    font-family: monospace;
    font-size: 1.24em;
    background-color: #e0e0e0;
    margin-top: 0.8em;
  }
  .word_codes_question {
    strong {
      font-family: monospace;
      font-size: 1.24em;
    }
  }
  .letter_tile {
    width: 3.55em;
  }
}

.wordle_interlinked {
  background-repeat: no-repeat;
  background-size: 100%;
  //background-size: cover;
  .word_grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 65vh;
    .word-grid-row {
      display: flex;
      .letter-tile-wrapper {
        &[data-is-focussed="true"] {
          .letter_tile[data-status="not set"] {
            background-color: #fff;
          }
        }
        &[data-is-focussed="false"] {
          .letter_tile {
            opacity: 0.85;
          }
        }
        .letter_tile {
          font-size: 1.7em !important;
        }
      }
    }
  }
}
.gameshow-summary-info {
  background: linear-gradient(137deg, #39015088 0%, #9808ac77 22%, #9504a877 43%, #7a05a155 100%);
  color: #fff;
  padding: 0.7em;
  .gameshow-summary-info-title {
    margin: 0.7em 0.2em;
  }
  .total-acheived,
  .total-gold-coins {
    font-size: 0.95em;
    color: #eee;
    padding: 0.3em;
    margin: 0.3em 0;
    .challenge-reward {
      margin: 0.15em;
      margin-bottom: 0;
    }
  }
  .gameshow-summary-groups {
    display: flex;
    flex-direction: column;
    padding: 0.3em;
    margin-top: 1em;
    .gameshow-group {
      display: flex;
      align-items: center;
      margin-bottom: 0.8em;
      background-color: #7b378b77;
      align-items: stretch;
      border: 1px solid #b8b8b8;
      .gameshow-group-heading {
        display: flex;
        flex-direction: column;
        padding: 0.6em;
        min-width: 11em;
        color: #c0c0be;
        .gameshow-group-title {
          display: flex;
          align-items: center;
          padding: 0.2em;
          margin: 0;
          flex-grow: 1;
          font-size: 1.7em;
          color: #fffcf5;
        }
        .total-acheived,
        .total-gold-coins {
          font-size: 0.95em;
          color: #eee;
          padding: 0.3em;
          margin: 0.2em 0;
          .challenge-reward {
            margin: 0.15em;
            margin-bottom: 0;
          }
        }
      }
      .gameshow-round-summaries {
        display: flex;
        flex-wrap: wrap;
        .gameshow-round-summary {
          position: relative;
          opacity: 0.95;
          padding: 0.8em;
          font-size: 0.9em;
          margin: 0.4em;
          user-select: none;
          color: #eee;
          min-width: 15em;
          flex-grow: 0;
          background-color: #cccccc;
          &[data-correct="false"] {
            border: 3px solid #5a0000;
            background-color: #ffb0b0;
            .gameshow-round-summary-title {
              color: #7c0404;
            }
            .gameshow-round-summary-description {
              color: #4d1b1b;
            }
          }
          &[data-correct="true"] {
            border: 3px solid #003b08;
            background-color: #d3ffc5;
            .gameshow-round-summary-title {
              color: #002004;
            }
            .gameshow-round-summary-description {
              color: #204118;
            }
          }
          &[data-status="superseded"] {
            opacity: 0.5;
          }
          .gameshow-round-summary-icon {
            margin: 0.6em;
            position: absolute;
            right: 0;
            top: 0;
            opacity: 0.6;
          }
          .gameshow-round-summary-title {
            margin: 0.2em 0;
            color: #cccccc;
          }
          .gameshow-round-summary-reward {
            margin-top: 0.5em;
            padding-right: 0.6em;
          }
          .gameshow-round-summary-description {
            margin: 0;
            margin-top: 0.2em;
            font-size: 0.95em;
            p {
              margin: 0.2em;
              &:first-child {
                margin-top: 0.5em;
              }
              &:last-child {
                margin-bottom: 0.8em;
              }
            }
          }
        }
        .break {
          flex-grow: 1;
          min-width: 100%;
        }
      }
    }
  }
}

.shimmer[data-animation-setting="true"] {
  mask: linear-gradient(-65deg, #000 30%, #0006, #000 75%) right / 300% 100%;
  animation: shimmer 2s infinite;
}

@keyframes shimmer {
  100% {
    mask-position: left;
  }
}
