@use "sass:map";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  & > * {
    flex-grow: 1;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI Semilight", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  display: flex;
}

.btn {
  font-family: Arial;
  border: none;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  border-left: 2px solid #777;
  border-bottom: 2px solid #777;
  font-weight: bold;
  padding: 15px 15px 15px 15px;
  margin: 5px 5px 0 0;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  text-transform: uppercase;
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &.default {
    background-color: #e6e6e6;
    color: #4d4d4d;
    &:hover {
      background-color: #c7c3c3;
      &:active {
        background-color: #a1a1a1;
      }
    }
  }
  &.accept {
    background-color: #abe0ab;
    color: #4d4d4d;
    border-color: #739673;
    &:hover {
      background-color: #b9f7b9;
      &:active {
        background-color: #8acf8a;
      }
    }
  }
  &.destructive {
    background-color: #f5bfbf;
    color: #4d4d4d;
    border-color: #8d4c4c;
    &:hover {
      background-color: #f39494;
      &:active {
        background-color: #e97272;
      }
    }
  }
}

// Add Vowel, Consonant and Quick Pick
.add-letter-buttons-wrapper .btn.default {
  border: none;
  border-radius: 0px;
  background-color: rgb(44, 44, 184);
  color: white;
}

select,
input {
  font-size: 1rem;
  color: inherit;
  padding: 0.35em;
  &[type="checkbox"] {
    font-size: 1.2rem;
    height: 1.2em;
    width: 1.2em;
  }
}

.title {
  font-weight: bold;
  font-size: 60px;
  text-transform: uppercase;
  margin: 20px 0 20px 0;
}

.word_grid,
.countdown_word_grid,
.countdown_numbers_grid {
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #e6e6e6;
  padding: 20px 20px;
  background-image: linear-gradient(318deg, #ccc, transparent);
  border-bottom: 3px solid #bbb;
  border-right: 3px solid #bbb;
  max-width: 95vw;
}

.level {
  display: flex;
  align-items: center;
  flex-direction: column;
}

// Background color of countdown word grid is slightly different
.countdown_word_grid {
  background-color: #2474bb !important;
  background-image: none !important;
  border: 10px solid rgb(44, 44, 184);
}

.word-row-category-wrapper {
  display: flex;
  align-items: center;
  .word-row-category-name {
    padding: 0.3em;
    min-width: 12em;
    text-align: left;
    font-size: 1.15em;
  }
}

.word_row[data-invalid-word-submitted="true"][data-apply-animation="true"] {
  animation: shakeIncorrectInput 0.4s;
}

.letter_tile[data-new-letter-added="true"][data-apply-animation="true"] {
  animation: popLetterInput 0.2s;
}

// For the target tile on Number Arithmetic
.target {
  .letter_tile[data-new-letter-added="true"][data-apply-animation="true"] {
    animation: flipRevealLetter 1.5s;
  }
}

.letter_tile[data-has-been-submitted="true"][data-apply-animation="true"] {
  animation: flipRevealLetter 1.5s;
}

.word_row[data-correct-word-submitted="true"][data-apply-animation="true"] .letter_tile {
  animation: jumpCorrectInput 1.2s;
}

.letter_tile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.6em;
  height: 1.6em;
  border: 2px solid #6664;
  border-radius: 8px;
  margin: 2px;
  vertical-align: middle;
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  color: #444;
  text-transform: uppercase;
  user-select: none;
  text-shadow: 0 2px 2px #999;
  background-color: #e0e4e7;
  /*
  transition: transform 0.8s;
  transform-style: preserve-3d;
  */
}

// For when a letter is entered during Wordle
@keyframes popLetterInput {
  0% {
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

// For when checking a guess in Wordle (each letter tile flips to reveal status)
@keyframes flipRevealLetter {
  0% {
    transform: perspective(400px) rotateX(90deg);
  }
  40% {
    transform: perspective(400px) rotateX(-20deg);
  }
  70% {
    transform: perspective(400px) rotateX(20deg);
  }
  100% {
    transform: perspective(400px) rotateX(0deg);
  }
}

// For when an incomplete guess is entered during Wordle
@keyframes shakeIncorrectInput {
  0% {
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  20% {
    -ms-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  40% {
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
  60% {
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

// For when the target word is correctly guessed during Wordle
@keyframes jumpCorrectInput {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-25px);
  }
  50% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-20px);
  }
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.numbers_arithmetic {
  .target {
    .letter_tile {
      margin-top: 0.5em;
      margin-bottom: 0.3em;
      width: 2em;
    }
  }
  .guess {
    .letter_tile {
      width: 3.5em;
    }
  }
}

// The letter tiles of Countdown Letters
.countdown-letters-wrapper .word_row .letter_tile,
.countdown_word_grid .word_row .letter_tile {
  border: none;
  border-radius: 0px;
  background-color: rgb(44, 44, 184);
  text-shadow: none;
}

$data-statuses: (
  "correct": rgb(76, 161, 80),
  "contains": rgb(220, 141, 55),
  "incorrect": rgb(204, 33, 50),
  "not in word": #cbcbcb,
);

// Keyboard buttons
.btn.default[data-status="correct"] {
  color: white;
  background-color: map.get($data-statuses, "correct");
}

.btn.default[data-status="contains"] {
  color: white;
  background-color: map.get($data-statuses, "contains");
}

.btn.default[data-status="incorrect"] {
  color: white;
  background-color: map.get($data-statuses, "incorrect");
}

.btn.default[data-status="not in word"] {
  color: white;
  background-color: map.get($data-statuses, "not in word");
}

// Wordle and CountdownLetter letter tiles
.letter_tile[data-status="correct"],
.countdown_word_grid .word_row .letter_tile[data-status="correct"] {
  color: white;
  background-color: map.get($data-statuses, "correct");
  /* transform: rotateX(180deg); */
}

.letter_tile[data-status="contains"],
.countdown_word_grid .word_row .letter_tile[data-status="contains"] {
  color: white;
  background-color: map.get($data-statuses, "contains");
  /* transform: rotateX(180deg); */
}

.letter_tile[data-status="incorrect"],
.countdown_word_grid .word_row .letter_tile[data-status="incorrect"] {
  color: white;
  background-color: map.get($data-statuses, "incorrect");
  /* transform: rotateX(180deg); */
}

.letter_tile[data-status="not in word"],
.countdown_word_grid .word_row .letter_tile[data-status="not in word"] {
  color: white;
  background-color: map.get($data-statuses, "not in word");
  /* transform: rotateX(180deg); */
}

.word_row {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.word_row_vertical {
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.target_number {
  width: 100px;
  height: 60px;
  border: 2px solid #969595;
  margin: 2px;
  vertical-align: middle;
  font-size: 3rem;
  font-weight: bold;
  color: white;
  background-color: rgb(6, 6, 179);
  text-transform: uppercase;
  user-select: none;
}

.number_tile,
.operator_tile,
.equals_tile {
  width: 60px;
  height: 60px;
  border: 2px solid #969595;
  margin: 2px;
  vertical-align: middle;
  font-size: 2.5rem;
  color: white;
  background-color: rgb(44, 44, 184);
  text-transform: uppercase;
  user-select: none;
}

.number_tile[data-disabled="true"] {
  opacity: 0.5;
}

.number_row {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

/* Splash Screen page ========================= */
.splash-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
}

.main-menu-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 1.2em;
  transition: opacity 0.6s ease;
}

[data-loading-state="loading"] {
  opacity: 1;
}

[data-loading-state="loaded"] {
  opacity: 0;
}

.game-name {
  display: flex;
  padding: 1em;
  padding-top: 0.5em;
  align-items: center;
  justify-content: center;
}

.game-name-label {
  margin-top: 0.5em;
  font-size: 3rem;
}

.studio-name {
  border: 2px solid;
  border-color: #cccccc;
  color: #b3b3b3;
  background-color: #e6e6e6;
  padding: 0.5em 3em;
}

/* Home page ========================= */
.home {
  display: flex;
  flex-grow: 1;
  font-size: 2vmin;
  .games {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    .sidebar {
      background: #ddd;
      padding: 1.2em;
      padding-bottom: 2em;
      margin: 0.6em;
      margin-bottom: 0;
      .sidebar-title {
        padding: 10px;
        padding-bottom: 20px;
        margin: 0;
        color: #fff;
        font-size: 3rem;
        user-select: none;
        .logo {
          font-size: 1rem;
        }
      }
    }
  }
}

.widgets {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  .widget {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0.4em;
    width: 12.8em;
    height: 7.5em;
    background-color: #eee;
    border-bottom: 3px solid #ccc;
    padding: 1em;
    padding-top: 0.5em;
    user-select: none;
    &:hover {
      background-color: #fafafa;
    }
    .widget-title,
    .widget-subtitle {
      display: flex;
      flex-grow: 1;
      font-weight: normal;
      align-items: center;
      color: #999;
      padding: 0.4em 0.2em;
      text-transform: uppercase;
    }
    .widget-title {
      font-size: 1.2em;
    }
    .widget-button-wrapper {
      position: relative;
      .widget-button {
        display: flex;
        flex-shrink: 0;
        font-weight: bold;
        border: 0;
        padding: 0;
        height: 11em;
        width: 13em;
        cursor: pointer;
        user-select: none;
        &:hover {
          opacity: 0.8;
          .widget-title {
            background-color: #444;
          }
        }
      }
    }
  }
}

.title .logo {
  font-size: 1rem;
}

.message-notification {
  display: inline-block;
  background-color: #ddd;
  padding: 0.5em 1em;
  min-width: 16em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  border: 2px solid #444;
  text-align: center;
}

.message-notification[data-type="success"] {
  background-color: #d3ffc5;
  border-color: #003b08;
  color: #002004;
}

.message-notification[data-type="warning"] {
  background-color: #ffe6b0;
  border-color: #945400;
  color: #442700;
}

.message-notification[data-type="error"] {
  background-color: #ffb0b0;
  border-color: #5a0000;
  color: #520000;
}

.best_words_list {
  background-color: #eee;
  padding: 0.5em;
  padding-left: 2em;
  text-align: left;
  text-transform: uppercase;
  border: 1px solid #ddd;
  color: #333;
}

.toolbar {
  height: 3em;
  display: flex;
  align-items: stretch;
  background-color: #4b4b4b;
  flex-grow: 0;
  .back-button {
    padding: 0.52em 0.6em;
    margin: 0.3em;
  }
  .title {
    flex-grow: 1;
    font-size: 1.2rem;
    font-weight: normal;
    margin: 0;
    padding: 0.5em;
    padding-left: 1.5em;
    color: #ccc;
    text-align: center;
    text-transform: none;
  }
  .gold_counter {
    cursor: pointer;
    display: flex;
    align-items: center;
    background: linear-gradient(122deg, #d1b600 0%, #d5bb01 18%, #e3c800 46%);
    border-bottom: 3px solid #d8bf00;
    color: white;
    font-size: 1.4em;
    user-select: none;
    padding: 0.25em;
    padding-right: 0.7em;
    min-width: 4em;
    color: #fffdda;
    text-shadow: #111 1px 0px 3px;
    &:hover {
      background: linear-gradient(122deg, lighten(#d1b600, 2%) 0%, lighten(#d5bb01, 2%) 18%, lighten(#e3c800, 2%) 46%);
      border-bottom-color: #dbc200;
    }
  }
  .gold_coin_image {
    height: 0.8em;
    width: 0.8em;
    padding: 0 6px;
  }
}

.progress_bar {
  position: relative;
  width: 15em;
  border: 2px solid #333a;
  border-radius: 15px;
  margin-top: 1.3em;
  height: 1.5em;
  background-color: white;
  color: #444;
  .progress_bar_progress {
    background-color: #ddd;
    border-radius: 15px;
    height: 1.5em;
    transition: all 1s linear;
  }
  .progress_bar_content {
    position: absolute;
    top: 0;
    left: 0.3em;
    right: 0.3em;
    bottom: 0;
  }
}

.challenges {
  font-size: 0.75em;
  background-color: #fff0c8;
  width: 22em;
  .challenges-title {
    margin: 0;
    padding: 0.8em;
    padding-bottom: 0.1em;
    font-weight: normal;
    color: #bb9a2e;
  }
  .challenge {
    position: relative;
    opacity: 0.95;
    padding: 0.8em;
    margin: 0.9em;
    opacity: 0.9;
    cursor: pointer;
    user-select: none;
    color: #eee;
    background: linear-gradient(122deg, #d1b600 0%, #d5bb01 18%, #e3c800 46%);
    border-bottom: 3px solid #c0aa00;
    &[data-status="redeemed"] {
      opacity: 0.3;
    }
    &[data-status="acheived"] {
      opacity: 1;
      border: 3px solid #b49f01;
      border-bottom-color: #7c6e00;
      &:hover {
        border-bottom-color: #7c6e00;
      }
    }
    &[data-status="superseded"] {
      opacity: 0.7;
    }
    &:hover {
      background: linear-gradient(122deg, lighten(#e3c800, 2%) 0%, lighten(#d5bb01, 2%) 18%, lighten(#e3c800, 2%) 46%);
      border-bottom-color: #dbc200;
    }
    &:last-child {
      border-bottom: none;
    }
    .challenge-icon {
      margin: 0.2em;
      position: absolute;
      right: 0;
      top: 0;
      opacity: 0.7;
    }
    .challenge-title {
      margin: 0.2em 0;
      color: #fcf486;
      text-shadow: #111 1px 0px 3px;
    }
    .challenge-reward {
      display: flex;
      display: inline-block;
      margin: 0;
      margin-top: 0.5em;
      padding: 0.2em;
      text-shadow: #111 1px 0px 2px;
      background-color: #eec922;
      border: 1px solid #e4db61;
      color: #fffdda;
      padding-right: 0.6em;
      .challenge-reward-icon {
        margin-right: 0.3em;
        float: left;
      }
    }
    .challenge-description {
      margin: 0;
      margin-top: 0.2em;
      text-shadow: #111 1px 0px 3px;
    }
    .challenge-redeem-reward {
      font-size: 0.9em;
      padding: 0.8em;
      margin-top: 0.8em;
    }
    .progress_bar {
      margin-top: 0.7em;
      border-color: #af9208;
    }
  }
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000a;
  z-index: 999;
  .options_body {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 1em;
    flex-shrink: 0;
    flex-grow: 1;
    min-height: 10em;
    max-width: 25em;
    label {
      display: flex;
      align-items: center;
      padding: 0.2em;
      color: #333;
      margin: 0.1em;
      input[type="checkbox"] {
        margin-right: 0.3em;
      }
    }
    .options_title {
      font-size: 1.2em;
      padding: 0.6em;
      background-color: #333;
      color: #eee;
    }
    .options_close {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 0.6em;
    }
  }
}

.category_label {
  display: flex;
  align-items: center;
  strong {
    margin-right: 0.5em;
    margin-bottom: 0.1em;
  }
  select {
    flex-grow: 1;
  }
}
/*
.widget-button[data-game-mode="wingo/daily"] {
  background-image: url(/src/images/daily.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.widget-button[data-game-mode="wingo/repeat"] {
  background-image: url(/src/images/repeat.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.widget-button[data-game-mode="wingo/increasing"] {
  background-image: url(/src/images/increasing.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.widget-button[data-game-mode="wingo/puzzle"] {
  background-image: url(/src/images/puzzle.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
*/

.dice_row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dice_square {
  width: 40px;
  border: 2px solid black;
  margin: 10px 5px;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.nubble-button-display {
  color: white;
  font-weight: bold;
  text-align: center;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 1em;
  min-width: 4em;
  min-height: 4em;
  margin: 1px;
}

.nubble-button {
  cursor: pointer;
  color: white;
  font-weight: bold;
  text-align: center;
  align-items: center;
  justify-content: center;
  &[data-shape="square"] {
    padding: 1em;
    min-width: 4em;
    min-height: 4em;
    margin: 1px;
  }
  &[data-shape="hexagon"] {
    .top {
      display: block;
      width: 0;
      border-bottom: 15px solid #6c6;
      border-left: 26px solid transparent;
      border-right: 26px solid transparent;
    }
    .middle {
      display: block;
      width: 52px;
      height: 30px;
      background-color: #6c6;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
    }
    .bottom {
      display: block;
      width: 0;
      border-top: 15px solid #6c6;
      border-left: 26px solid transparent;
      border-right: 26px solid transparent;
    }
  }
}

.nubble-button-display {
  cursor: default;
}

.nubble-button:disabled {
  background-color: grey !important;
  border: 4px solid grey !important;
}

.nubble-button[data-shape="square"][data-prime="true"],
.nubble-button-display[data-prime="true"] {
  border: 4px solid #3d3d3d !important;
}

$orange: #aa5208bb;
$orange-border: #aa5208;
$light-blue: #00a59bbb;
$light-blue-border: #00a59b;
$yellow: #a5a803bb;
$yellow-border: #a5a803;
$dark-blue: #0002acbb;
$dark-blue-border: #0002ac;
$pink: #e757b7bb;
$pink-border: #e757b7;
$green: #05ab00bb;
$green-border: #05ab00;
$blue-gray: #6699cc;
$blue-gray-border: #5f95cc;
$purple: #b801b5bb;
$purple-border: #b801b5;
$dark-orange: #e27e0bbb;
$dark-orange-border: #e27e0b;
$red: #b10503bb;
$red-border: #b10503;

$nubble-colors-names: (
  orange: $orange,
  light-blue: $light-blue,
  yellow: $yellow,
  dark-blue: $dark-blue,
  pink: $pink,
  green: $green,
  blue-gray: $blue-gray,
  purple: $purple,
  dark-orange: $dark-orange,
  red: $red,
);

// Sets background, border and on hover colours for nubble pins
@each $colourName, $color in $nubble-colors-names {
  .nubble-button[data-shape="square"][data-colour="#{$colourName}"] {
    background-color: $color;
    // Border has darker tone of colour
    border: 4px solid darken($color, 10%);
    &:hover {
      // On hover, make background color same as border
      background-color: darken($color, 10%);
    }
  }
  .nubble-button[data-shape="hexagon"][data-colour="#{$colourName}"] {
    background: none;
    border: none;
    padding: 0.1em;
    .middle {
      background-color: $color;
    }
    .top {
      border-bottom-color: $color;
    }
    .bottom {
      border-top-color: $color;
    }
    // Border has darker tone of colour
    //border: 4px solid darken($color, 10%);
    &:hover {
      // On hover, make background color same as border
      background-color: darken($color, 10%);
    }
  }
  .nubble-button-display[data-colour="#{$colourName}"] {
    background-color: $color;
    // Border has darker tone of colour
    border: 4px solid darken($color, 10%);
  }
}

.nubble-grid {
  margin-top: 1em;
  padding: 0em 10em;
}

.nubble-score {
  margin-top: 1em;
  padding: 0.5em 2em;
  border: 2px solid black;
}

.add-letter-buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 0;
}

.add-vowel,
.add-consonant {
  text-align: center;
  cursor: pointer;
  padding: 1em;
  min-width: 4em;
}

.countdown_letters_guesses {
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 250px;
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 0.5em;
}

.countdown_letters_guess_label {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
}

.countdown_letters_guess_input {
}

.campaign {
  background: #ddd;
  padding: 1.2em;
  padding-bottom: 2em;
  margin: 0.6em;
  margin-bottom: 0;
  .widget {
    min-height: 19em;
    min-width: 25vw;
  }
}

.area-button.widget {
  border-bottom: 3px solid #888;
  border-left: 3px solid #888;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
    .widget-title,
    .widget-subtitle {
      color: #fff;
    }
  }
  .widget-subtitle {
    font-size: 1.1em;
    flex-grow: 0;
    color: #ddd;
    margin: 0.5em;
  }
  .widget-title {
    font-size: 3em;
    color: #ddd;
    justify-content: flex-start;
  }
  .widget-button-wrapper {
    margin-bottom: 3em;
  }
}

.area,
.area-button {
  flex-grow: 1;
  background-repeat: no-repeat;
  background-size: 100%;
  &[data-unlock-status="locked"] {
    background: #333 !important;
    opacity: 0.15;
    &:hover {
      opacity: 0.2;
    }
  }
  .widget {
    height: 10em;
  }
  .level-count {
    color: #ddd;
  }
}

.level-button {
  &[data-is-completed="true"] {
    opacity: 0.6;
  }
  &[data-is-unlocked="false"] {
    opacity: 0.6;
  }
  .level-mode {
    color: #888;
    margin-top: 0;
    margin-bottom: 2em;
    font-size: 0.95em;
  }
}

.puzzle-config {
  flex-grow: 1;
  justify-content: flex-start;
  & > * {
    flex-grow: 0;
  }
  .sequence {
    display: flex;
  }
  .answer-options {
    display: flex;
  }
  .sequence-tile {
    padding: 0.5em;
    margin: 0.4em;
    width: 10em;
    height: 10em;
    background-color: white;
    position: relative;
    box-shadow: 0 0 2px #999;
    opacity: 0.75;
    &[data-is-clickable="true"] {
      opacity: 0.9;
      &:hover {
        background-color: #f2f2f2;
        opacity: 0.75;
        cursor: pointer;
      }
    }
    &[data-is-readonly="true"] {
      &[data-is-incorrect-answer="true"] {
        background-color: #f07676;
      }
      &[data-is-correct-answer="true"] {
        background-color: #7af076;
      }
    }
    .icon {
      position: absolute;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 35px;
      height: 35px;
    }
  }
}

.shimmer {
  mask: linear-gradient(-65deg, #000 30%, #0006, #000 75%) right / 300% 100%;
  animation: shimmer 2s infinite;
}

@keyframes shimmer {
  100% {
    mask-position: left;
  }
}
